<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Star</title>
   <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    <h1>STAR RANKING</h1>

    <div class="star-container page-container">

        <div class="sidebar">
            <a href="login.html">Home</a>
            <a href="search.html">Search A Route</a>
            <a href="map.html">Map View</a>
            <a href="star.html" class="active-page">Star Ranking</a>
            <a href="rank.html">Rank Your Experience</a>
            <a href="contactus.html" >Contact Us</a>
        </div>
        
        <div class="scroller">
        <!-- Table for Ranks -->
            <table class="StarRank">
            <thead>
                <tr>
                    <th>Route Name</th>
                    <th>Location</th>
                    <th>Stars</th>
                    <th>Last Updated</th>
                </tr>
            </thead>
            <tbody>

                <tr class="border_bottom">
                    <td>Ramon Valley</td>
                    <td>Kiryat Gat</td>
                    <td>4.20</td>
                    <td>1/11/22</td>
                </tr>
                <tr class="border_bottom">
                   <td>Mount Hermon</td>
                    <td>Carmiel</td>
                    <td>4.50</td>
                    <td>4/11/22</td>
                </tr>
               <tr class="border_bottom">
                   <td>Ein Akev</td>
                    <td>Beer Sheva</td>
                    <td>4.25</td>
                    <td>13/11/22</td>
                </tr>
               <tr class="border_bottom">
                   <td>Negev Downhill</td>
                    <td>Dimona</td>
                    <td>4.50</td>
                    <td>16/11/22</td>
                </tr>
                
            </tbody>
        </table>
        </div>
        
          <q>We at the Best Route will only recommend you a biking experience that will exceed more than 3 stars</q>
        
        <div class="footer">
        <p>Contact Us. Email: thebestroute@gmail.com . Facebook: The Best Route . Phone: 083214765 </p>
        </div>

    </div>

</body>
</html>